name: PySpark Job

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Submit Job to EMR
      run: aws emr add-steps --cluster-id j-8ZMGLX96TCJO --steps Type=Spark,Name="dataset_crawler",Args=[--conf,spark.yarn.submit.waitAppCompletion=true,"simple-spark-app.py"]
